doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Edit Template - Section 3
    link(rel='stylesheet', type='text/css', href='/css/view.css', media='all')
    script(type='text/javascript', src='/js/view.js')
  body#main_body
    img#top(src='/images/form_images/top.png', alt='')
    #form_container
      h1
        a Edit Template - Section 3
      form#form_953947.appnitro(method='post', action='')
        .form_description
          h2 Edit Template - Section 3
          p CMS Builder for section 3 part of the template
        ul
          li#li_1
            label.description(for='element_1') Section-Title 
            div
              input#element_1.element.text.medium(name='element_1', type='text', maxlength='255', value='')
            p#guide_1.guidelines
              small Main title
          li#li_2
            label.description(for='element_2') Section-Title-Tag-Lines 
            div
              textarea#element_2.element.textarea.medium(name='element_2')
          li#li_3
            label.description(for='element_3') Section-Header 
            div
              textarea#element_3.element.textarea.large(name='element_3')
          li#li_4
            label.description(for='element_4') Section-First-Sub-Title 
            div
              input#element_4.element.text.medium(name='element_4', type='text', maxlength='255', value='')
          li#li_5
            label.description(for='element_5') Section-First-Sub-Content 
            div
              textarea#element_5.element.textarea.large(name='element_5')
          li#li_6
            label.description(for='element_6') Section-Second-Sub-Title 
            div
              input#element_6.element.text.medium(name='element_6', type='text', maxlength='255', value='')
          li#li_7
            label.description(for='element_7') Section-Second-Sub-Content 
            div
              textarea#element_7.element.textarea.large(name='element_7')
          li.buttons
            input(type='hidden', name='form_id', value='953947')
            input#saveForm.button_text(type='submit', name='submit', value='Submit')
      #footer
        | Powered by 
        a(href='http://www.phpform.org') Ankit Designs
    img#bottom(src='/images/form_images/bottom.png', alt='')
